.weatherContainer {
  background-color: #e6d385;
  width: 40%;
  display: flex;
}
.weatherInfoContainer {
  width: 60%;
  background-color: #5c7658;
  border: solid;
  position: relative;
  left: 8%;
  text-align: left;
}
.WeatherInfoItem {
  padding-bottom: 10px;
  padding-left: 10px;
}
span {
  padding-left: 10%;
  float: right;
  margin-right: 5%;
}

.Dropdown {
  width: 40%;
}

.Update {
  float: left;
  margin-left: 10%;
}
